
<!DOCTYPE html>
<html lang="en-us" class=" js cssanimations">
<head>
<meta charset="utf-8">
<title>Cake Aany Time</title>
<meta name="description" content="The description should optimally be between 150-160 characters.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Madeon08">

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.png">

<!-- ============== Resources style ============== -->
<link rel="stylesheet" href="css/style.css">

<!-- Modernizr runs quickly on page load to detect features
<script src="js/modernizr.custom.js"></script> -->
</head>

<body class="mCustomScrollbar _mCS_1">
<div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
	<div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr"> 
		
		<!-- Page preloader -->
		<div id="loading" class="" style="opacity: 0; transform: scaleX(1) scaleY(1); transform-origin: 50% 50% 0px; display: none;">
			<div id="preloader" class="" style="opacity: 0;"> <span></span> <span></span> </div>
		</div>
		
		<!-- Overlay -->
		<div class="global-overlay">
			<canvas id="constellationel" width="1366" height="386"></canvas>
			<div class="overlay vegas-container" style="height: 386px;">
				<div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms;">
					<div class="vegas-slide-inner vegas-animation-kenburns" style="background-image: url(&quot;img/constel.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover; animation-duration: 5000ms;"></div>
				</div>
				<div class="vegas-wrapper" style="overflow: hidden; padding: 0px;">
					<div class="overlay-dash"></div>
				</div>
			</div>
		</div>
		
		<!-- START - Home Part -->
		<section id="home-wrap" class="" style="opacity: 1; display: block;"> 
			
			<!-- Stars Overlay - Uncomment the next 3 lines to activate the effect--> 
			<!-- <div id='stars'></div>
			<div id='stars2'></div>
			<div id='stars3'></div> -->
			
			<div class="content"> 
				
				<!-- Your logo --> 
				<img src="img/logo.png" alt="" class="brand-logo text-intro mCS_img_loaded animated-middle fadeInUp">
				<h1 class="text-intro animated-middle fadeInUp"><span class="polyfy-title">Order delicious Cake online!</span></h1>
				<p class="text-intro animated-middle fadeInUp">We at CakeAnyTime promises to deliver the best and hygienic cakes with or without eggs on a reasonable cost. We do have more than 200  flavours and designs specially for Wedding Anniversary & Kids.</p>
				
				<select class="light-btn text-intro animated-middle fadeInUp">
					<option>Select City</option>
					<option>Noida</option>
					<option>Delhi</option>
					<option>Kanpur</option>
					<option>Agra</option>
					<option>Gorakhpur</option>
				</select> 
				<a data-dialog="somedialog" class="action-btn trigger text-intro animated-middle fadeInUp">Submit</a> </div>
			<!-- /. content --> 
			
			<!-- Social icons
			<div class="social-icons text-intro animated-middle fadeInUp"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>
			<!-- /. social-icons --> 
			
		</section>
		<!-- END - Home Part --> 
		
		
		
		<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ --> 
		<!-- ********** Resources jQuery ********** --> 
		<!-- \\\\\\\\\\\\\\\\\\\/////////////////// --> 
		
		<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * --> 
		<script src="js/jquery.min.js"></script> 
		<script src="js/bootstrap.min.js"></script> 
		
		<!-- Constellation effect --> 
		<script src="js/constellation.js"></script> 
		
		<!-- Main JS File --> 
		<script src="js/main.js"></script> 
		
		
		<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]--> 
		
	</div>
	
</div>
</body>
</html>